
/* regras gerais para todo site */
/* * {
    color: white;
    background-color: rgb(28, 30, 51);
} */

body {
    /* background-color: rgb(28, 30, 51); */
    color: black;
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: 62%;
}

/* header da aplicação */

nav {    
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;        
    background-color: rgb(28, 30, 51);
    color: white;
}

/* logo e texto */
.logo span {
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}

.links a {
    margin: 0 2em 0 0;
}

.anuncios {
    margin-top: 5em;
}

article {
    margin-bottom: 3em;
}

article p {
    text-align: justify;
    font-size: 1.15em;
    line-height: 25px;
}

/* caixa de texto */
textarea {
    width: 100%;
    height: 200px;
    margin: 20px auto;
    border: 2px solid black;
    outline: 0;    
    border-radius: 10px;
    color: black;
    text-align: justify;
}

textarea::-webkit-scrollbar {
    width: 12px;
    background-color: whitesmoke;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgray;
}

.botoes {
    display: flex;
    justify-content: center;
}

.botoes button {
    margin: 0 0.5em;
    border-radius: 10px;
    /* color: white; */
    font-size: 1em;
    font-weight: 600;
}

.botoes button:hover {
    transition: 0.5s;
}

footer {
    display: grid;
    justify-content: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    background-color: rgb(28, 30, 51);    
    padding: 12px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer span, a {
    text-decoration: none;
    color: white;
}

footer .detalhes {
    text-align: center;
}

/* sobre, dicas e politica */
.dicas, .sobre, .politica {
    margin-top: 7em;
}

/* media queries */
@media (max-width: 768px) {
    nav {
        display: block;
        text-align: center;
    }
}