
/* regras gerais para todo site */
* {
    /* color: white;
    background-color: rgb(28, 30, 51); */
}

body {
    background-color: rgb(28, 30, 51);
    color: white;
    text-align: justify;
}

/* header da aplicação */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 7px;
    margin-bottom: 2em;    
}

/* imagem e texto */
.img {    
    text-align: center;
    font-weight: 600;
    font-size: 18px;
}

article {
    height: 250px;
}

/* caixa de texto */
.words {    
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    background-color: white;
    color: black;
}

.botoes {
    display: flex;
    justify-content: center;
}

.botoes button {
    margin: 0 0.5em;
    border-radius: 10px;
}