
body {
    /* background-color: rgb(28, 30, 51); */
    color: white;
    text-align: justify;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.conteiner {
    background-color: rgb(19, 20, 34);
}

.container {
    padding: 25px;
}

/* header da aplicação */
nav {    
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;        
    background-color: rgb(11, 12, 20);
    color: white;
    padding: 20px;
}
    
.logo img {
    display: block;
    margin: 0 auto 0 auto;
    padding: 0;
}

.logo span {
    text-align: center;
    font-weight: 600;
    font-size: 18px;    
}

/* .anuncios {
    margin-top: 5em;
} */

article {
    margin-bottom: 3em;
}

article p {
    text-align: justify;
    font-size: 1.3em;
}

#titulo {
    background-color: rgb(214, 214, 214);
    color: black;
    font-weight: bolder;
    border: none;
}

/* caixa de texto */
textarea {
    width: 100%;    
    margin: 20px auto 0 auto;
    outline: 0; 
    border-radius: 10px;
    border: none;
    color: black;
    text-align: justify;
    padding: 10px;    
    font-size: 18px;
    resize: none;
    font-weight: 500;
    background-color: rgb(214, 214, 214);    
    height: 200px;
}

textarea::-webkit-scrollbar {
    width: 12px;
    background-color: whitesmoke;
}

textarea::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: darkgray;
}

.botoes {
    display: flex;
    justify-content: center;
}

button {
    margin: 0 0.3em 0 0.3em;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-weight: 600;
}

.botoes-add {
    display: flex;
    justify-content: flex-end;    
}

.botoes-add button {
    margin: 0 5px 0 10px;
    font-size: 16px;
}

.gravar:hover, .parar:hover {
    background-color:rgba(165, 165, 165, 0.1);
    transition: 0.3s linear;
}
.parar, .gravar {
    font-size: 3em;
    padding: 5px;
}

.gravar i {
    color: #0de109;
}

.parar i {
    color: #fb0e26;    
}


footer {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    background-color: rgb(11, 12, 20);
    padding: 12px;
    box-sizing: border-box;    
    width: 100%;
}

footer span, a {
    text-decoration: none;
    color: white;
}

/* sobre, dicas e politica */
.dicas, .politica {
    margin-top: 4em;
    text-align: justify;
}

#text {
    font-weight: bold;
}


.politica {
    margin-bottom: 4em;
}

/* media queries */
@media (max-width: 781px) {
    .botoes {
        display: flex;               
        align-content: center;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto auto;
    }
    .botoes button {
        margin-top: 0.5em;
    }
}

@media (max-width: 481px) {
    .botoes {
        display: grid;
        grid-template-columns: auto auto;
    }
    .botoes button {
        margin-top: 0.5em;
    }
}